.calc {
	background: $blue;
	font-family: $primary-f2;
	padding: calc(var(--p-margin)*1.25) 0rem var(--p-margin);

  @media screen and (max-width:$large_tablet) {
  	padding-bottom: 0rem;
  }

	&__wrap {
		display: flex;
		width: 100%;
        @media screen and (max-width:$large_tablet) {
        	flex-direction: column;
        	width: calc( 100% + 3rem );
        	margin-left: -1.5rem;
        }

	}

	&__title {
		font-size: 10rem;
		margin-bottom: 10rem;
		text-align: center;
		font-weight: 500;
		font-family: $primary-f;
        @media screen and (max-width:$large_tablet) {
        	font-size: 2.9rem;
        	font-weight: 400;
        	margin-bottom: 5rem;
        }

	}

	&__left {
		border-radius: 2rem 0rem 0px 2rem;
		background: $bg--black;
		padding: 12rem 4rem;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;

      @media screen and (max-width:$large_tablet) {
      			padding: 4rem 1.5rem;
						border-radius: 1.5rem;
      }

		&-title {
			font-size: 3rem;
			margin-bottom: 3rem;
			font-weight: 500;
			text-align: center;
        @media screen and (max-width:$large_tablet) {
        	font-size: 2rem;
        	margin-bottom: 2rem;
        }

		}
	}


	&__right {
		border: 1px solid rgba(white,0.5);
		border-left: none;
		border-radius: 0rem 2rem 2rem 0rem;
		padding: 10rem;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

     @media screen and (max-width:$large_tablet) {
     		border: none;
     		border-radius: 0px;
     		padding: 5rem 1.5rem;
     }


	}

	&__sliders {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8rem;
    @media screen and (max-width:$large_tablet) {
    	gap: 2rem;
    }

	}

	&__selects {
		display: flex;
		flex-direction: column;
		gap: 2rem;
    @media screen and (max-width:$large_tablet) {
    	gap: 1rem;
    }

	}

	&__select {
		font-size: 3rem;
		font-weight: 300;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $bg--black2;
		padding: 4rem;
		border-radius: 1rem;
		transition: all 0.5s;
		border: 1px solid rgba(white,0.25);
		&.toogles__item-title--active, &:hover {
			background: $violet;
			border-color: transparent;
		}

        @media screen and (max-width:$large_tablet) {
        	font-size: 1.6rem;
        	padding: 1.5rem;
        	text-align: center;
        }


	}

	&__slider {


		&-wrap {
			&--disabled {
				
				input {
					pointer-events: none;
					opacity: 0.7;
				  background: linear-gradient(to right, $green 40%, rgba(white,0.5) 40%);
				}
			}
		}

		&-double {
			display: flex;
			gap: 5rem;

			.calc__slider-wrap {
				flex-grow: 1;
				flex-shrink: 0;
			}
		}


		&-top {
			display: flex;
			justify-content: space-between;
		}


		&-title {
			display: flex;
			align-items: center;
			gap: 1rem;
			font-weight: 400;
			width: 100%;
			span {
				font-size: 3rem;
        @media screen and (max-width:$large_tablet) {
        	font-size: 1.6rem;
        }

			}
		}


		&-info {
			font-size: 2rem;
			border-radius: 50%;
			border: 1px solid rgba(white,0.5);
			flex-shrink: 0;
			width: 3rem;
			height: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

        @media screen and (max-width:$large_tablet) {
        	font-size: 1.4rem;
        	width: 2.2rem;
        	height: 2.2rem;
        }

		}


		&-input {
			font-size: 3rem;
			border: 1px solid rgba(white,0.5);
			border-radius: 10rem;
			color: white;
			text-align: center;
			padding: 1.5rem 3rem;
			margin-left: auto;

        @media screen and (max-width:$large_tablet) {
					padding: 0.5rem 1.5rem;
					font-size: 2rem;
        }

		}
	}

	&__title2 {
		text-align: center;
		font-size: 6rem;
		letter-spacing: -0.03em;
		margin: 5rem 0px;
		@media screen and (max-width:$large_tablet) {
		    font-size: 4rem;
		    margin: 3rem 0px;
    }

	}

	&__result {
		display: flex;
		// flex-direction: column;
		align-items: center;
		justify-content: center;

		gap: 2rem;

		  @media screen and (max-width:$large_tablet) {
        // flex-direction: column;
        	gap: 1rem;
       }


		&-item {
			font-size: 2.5rem;
			line-height: 1;

			span {
				padding: 0.5rem 1rem;
				border: 1px solid rgba(white,0.5);
				border-radius: 3rem;
				margin-right: 1rem;

	      @media screen and (max-width:$large_tablet) {
	      	margin-bottom: 0.5rem;
	      	display: flex;
	      	flex-direction: column;
	      	align-items: center;
	      }

			}

      @media screen and (max-width:$large_tablet) {
      	font-size: 1.8rem;
      	text-align: center;
      	flex-grow: 1;
      	flex-shrink: 0;
      	display: flex;
      	flex-direction: column;
      	align-items: center;
      }

		}

		&-main {
			font-size: 6rem;
			font-weight: 500;
			background: $green;
			color: #222;
			border-radius: 5rem;
			padding: 2rem 6rem;
      @media screen and (max-width:$large_tablet) {
      	font-size: 3.5rem;
      	padding: 1.5rem 2.5rem;
      	flex-shrink: 0;
      }


		}
	}
}


.slider {
  width: 100%;
  margin: 2rem auto;
  appearance: none;
  height: 0.4rem;
    @media screen and (max-width:$large_tablet) {
    	height: 3px;
    }

  background: linear-gradient(
    to right,
    $green 0%,
    $green var(--slider-progress),
    rgba(white, 0.5) var(--slider-progress),
    rgba(white, 0.5) 100%
  );
  border-radius: 5px;
  outline: none;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background: $blue;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
       @media screen and (max-width:$large_tablet) {
       	width: 2rem;
       	height: 2rem;
       }

  }

  &::-moz-range-thumb {
    width: 2.5rem;
    height: 2.5rem;
    background: $blue;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #8E44AD;
       @media screen and (max-width:$large_tablet) {
       	width: 2rem;
       	height: 2rem;
       }

  }
}



// 1.tooltip
// 2. percent to back;
// 3. 
