.choose {
	padding-top: var(--p-margin);
	position: relative;
	&__shadow {
		content: "";
		position: absolute;
		width: 40rem;
		height: 200rem;
		bottom: 0px;
		left: 0px;
		background: rgba(0, 0, 0, 0.1);
		filter: blur(40px);
		transform: rotate(10deg);

	}
	&__title {
		font-size: 11rem;
		text-align: center;
		text-transform: uppercase;
		line-height: 110%;
		margin-bottom: 10rem;

        @media screen and (max-width:$large_tablet) {
        	font-size: 4.1rem;
        }

		span {
			color: $green;
		}

		&-border {
			border: 2px solid rgba(white,0.5);
			border-radius: 10rem;
			padding: 1.5rem 3rem;
			line-height: 0.9;
			display: inline-block;
        	@media screen and (max-width:$large_tablet) {
        		padding: 0.8rem 1.5rem;
        	}

		}
	}
}