.features {
	padding-top: calc(var(--p-margin) * 1.4);
	background: $blue;

	.anim-line-wrap {
		display: inline-block;
		width: 100%;
	}

	&__animations {
		position: relative;
		height: calc(var(--vh, 1vh) * 100);
		transition: height 0.5s, min-height 0.5s;
		width: 100%;
		border-radius: 2rem;
		overflow: hidden;
		border: 3px solid white;
	}

	&__item {
		margin-bottom: calc(var(--p-margin) * 1.2);
		perspective: 100px;



		iframe {
			pointer-events: none;
		}

		&--anims {
			margin-bottom: 0px;
			padding-bottom: calc(var(--p-margin) * 1.2);
			margin-top: calc(var(--p-margin) * 1.2);
		}

		&--phones {
        	@media screen and (max-width:$large_tablet) {
        		display: none;
        	}
		}

		&-title {
			text-align: center;
			font-size: 10rem;
			letter-spacing: -0.03em;
			line-height: 1.2;
			margin-bottom: 10rem;

			span {
				display: inline-block;
			}

			.features__item--anims &,
			.features__item--pixel & {
				margin-bottom: 3rem;
			}

        	@media screen and (max-width:$large_tablet) {
        		font-size: 4.1rem;
        		margin-bottom: 5rem;
        	}

		}

		&:nth-child(1) {

			.drag__item--first {
				iframe {
					top: -3.5px;
        		@media screen and (max-width:$large_tablet) {
        			top: -2.5px
        		}

				}
			}
		}
	}

	&__speeds {
		display: flex;
		justify-content: center;
		gap: 5rem;
		font-family: $primary-f2;
		margin-bottom: 10rem;

    	@media screen and (max-width:$large_tablet) {
    		flex-wrap: wrap;
    		gap: 3rem 0px;
    		margin-bottom: 5rem;
    	}

	}

	&__speed {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		align-items: center;

    	@media screen and (max-width:$large_tablet) {
    		width: 50%;
    	}


		&-title {
			font-size: 2.5rem;
			opacity: 0.8;
			font-weight: 300;
	    	@media screen and (max-width:$large_tablet) {
	    		font-size: 2rem;
	    	}

		}
		&-round {
			background: #FFEBEB;
			border-radius: 50%;
			width: 16.5rem;
			height: 16.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
        	@media screen and (max-width:$large_tablet) {
        		width: 12rem;
        		height: 12rem;
        	}


			&--red {
				span {
					color: #D3221F;
				}

				.circle-progress {

				}
			}

			&--yellow {
				background: #FFF7EC;

				span {
					color: #C33300;
				}

				.circle-progress {
					stroke: #FFAA33 !important;
				}
			}


			&--green {
				background: #EBF9F0;
				span {
					color: #008800;
				}

				.circle-progress {
					stroke: #00CC66 !important;
				}
			}
			span {
				font-size: 6rem;
				line-height: 0.8;
				letter-spacing: -0.03em;
		    	@media screen and (max-width:$large_tablet) {
		    		font-size: 5rem;
		    	}
			}


		svg {
      		transform: rotate(-90deg); /* Начало анимации сверху */
      		position: absolute;
      		left: 0px;
      		width: 100%;
      		height: 100%;
      		top: 0px;
    	}

    	circle {
      		fill: none;
      		stroke-width: 10;
    	}

    		.circle-bg {
      			stroke: #FFEFEF; /* Цвет фона круга */
    		}

		    .circle-progress {
		      stroke: #FF3333; /* Цвет прогресса */
		      stroke-dasharray: 440; /* Общая длина окружности */
		      stroke-dashoffset: 380;
		      transition: stroke 0.5s;
		      // animation: progress-animation 2s ease-out forwards; /* Анимация прогресса */
		    }

		    // @keyframes progress-animation {
		    //   from {
		    //     stroke-dashoffset: 440;
		    //   }
		    //   to {
		    //     stroke-dashoffset: 0; /* Полное заполнение круга */
		    //   }
		    // }


		}
	}

	&__phones {
		display: flex;
		gap: 5rem;
		justify-content: center;
		align-items: center;
		min-height: 100rem;
		margin: 10rem 0px;
	}


	&__phone {
		width: 32rem;
		height: 64rem;
		position: relative;
		flex-shrink: 0;

		iframe {
			pointer-events: none;
		}

		&-wrap1 {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			background: black;
			border-radius: 6rem;
			border: 1px solid white;

		}

		&-wrap2 {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			border-radius: 6rem;
			border: 0.45rem solid #989892;
			overflow: hidden;
		}


		iframe {
			position: absolute;
			left: 3%;
			top: 1.3%;
			width: 94%;
			height: 97.4%;
			border-radius: 4.3rem;
			background: white;
		}


		&-screen {
			position: absolute;
			left: 3%;
			top: 1.3%;
			width: 94%;
			height: 97.4%;
			border-radius: 4.3rem;
			background: rgba(#00FF19,0.25);
			z-index: 2;
			pointer-events: none;

			@keyframes fadeInOut {
			  0%, 100% { opacity: 0; } /* Начало и конец анимации: прозрачность 0 */
			  50% { opacity: 1; }      /* В середине анимации: видимость 100% */
			}

			animation: fadeInOut 6s infinite; /* Длительность 3 секунды, бесконечный цикл */

			.features__phone--two & {
				background: rgba(red,0.25);
			}
		}

		&-arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: calc( 100% + 3rem );
			width: 100%;
			div {
				height: 2px;
				background: #00FF19;
				width: 15rem;
			.features__phone--two & {
				background: red;;
			}
			}

			&::after, &::before {
			  content: '';
			  width: 0;
			  height: 0;
			  border-bottom: 0.75rem solid transparent;
			  border-top: 0.75rem solid transparent;
			  border-left: 1.25rem solid #00FF19; /* Цвет треугольника */

			}

			&::after {
					.features__phone--two & {
						border-left: 1.25rem solid red; 
					}
			}

			&::before {
			  border-left: 1.25rem solid transparent; /* Цвет треугольника */
			  border-right: 1.25rem solid #00FF19; /* Цвет треугольника */

			.features__phone--two & {
				border-right: 1.25rem solid red; 
			}
			}
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		position: relative;
			@media screen and (max-width:$large_tablet) {
	    		flex-direction: column;
	    		gap: 3rem;
	   		}

		&-block {
			text-align: center;
			.features__item--speeds & {
				position: absolute;
				width: 100%;
				display: flex;
				justify-content: center;

				@media screen and (max-width:$large_tablet) {
	    			position: static;
	    		}
			}
		}

		&-title {
			text-transform: uppercase;
			font-size: 5.4rem;
			letter-spacing: -0.03em;
			line-height: 1.2;
			max-width: 80rem;
				@media screen and (max-width:$large_tablet) {
					font-size: 2.2rem;
					max-width: 100%;
				}


			.features__phones & {
				max-width: 50rem;
			}
		}

		&-text {
			margin-top: 3rem;
			line-height: 1.6;
			font-family: $primary-f2;
			color: rgba(white,0.75);
			font-size: 2.4rem;
			text-align: justify;

		}

		&-indend {
			float: left;
			position: relative;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			gap: 5rem;
			text-transform: uppercase;
			font-size: 1.6rem;
			margin-right: 1.5rem;
			padding-top: 0.4em;
			font-weight: 500;
			color: white;
			&::after {
			  content: '';
			  width: 0;
			  height: 0;
			  border-right: 0.75rem solid transparent;
			  border-left: 0.75rem solid transparent;
			  border-top: 1.25rem solid white; /* Цвет треугольника */
			  top: -0.75rem; /* Смещение снизу тултипа */
			  left: 50%;
			  transform: translateX(-50%);
			}
		}
	}
}