
.footer {
	margin-top: var(--p-margin);
	z-index: 2;

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10rem;
		position: relative;

        @media screen and (max-width:$large_tablet) {
        	flex-direction: column;
        	margin-bottom: 5rem;
        }

	}

	.email__wrap {
		display: flex;
		align-items: center;
	}

	&__left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		z-index: 2;

        @media screen and (max-width:$large_tablet) {
        	flex-direction: row;
        	align-items: flex-end;
        }


	}

	&__logo {
		display: block;
		width: 14rem;
		margin-bottom: 2rem;

		 @media screen and (max-width:$large_tablet) {
        	width: 7rem;
        }

		img {
			width: 100%;
			height: auto;
		}
	}

	&__adress {
		font-size: 2rem;
		line-height: 140%;
		display: flex;
		flex-direction: column;
		white-space: nowrap;
		font-weight: 300;
		font-family: $primary-f2;

        @media screen and (max-width:$large_tablet) {
        	font-size: 1.6rem;
        }

	}


	&__email {
		
		border: 1px solid rgba(255,255,255,0.2);
		font-size: 6.5rem;
		
		border-radius: 100px;
		padding: 1rem 0px;
		padding-right: 2rem;
		padding-left: calc( 7rem + 1rem + 1.5rem );
		display: flex;
		align-items: center;
		font-weight: 400;
		line-height: 100%;
		margin: auto;
		transition: all 1s;
		position: relative;

	 	@media screen and (max-width:$large_tablet) {
	 		padding: 1rem 0px;
	 		padding-left: calc( 4rem + 0.5rem + 1rem );
	 		font-size: 2.7rem;
	 		width: 100%;
	 		margin: 5rem 0px;
	 	}

		
		&:hover {
			border-color: white;
			padding-right: calc( 7rem + 1rem + 1.5rem );
			padding-left: 1.5rem;

			.footer__email-icon {
				left: calc( 100% - 7rem - 1rem );
				transform: rotate(360deg);
			}
		}

		&-icon {
			transition: all 0.75s;
			transition-timing-function: ease-out;
			position: absolute;
			left: 1rem;
			width: 7rem;
			height: 7rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(255,255,255,0.15);
			border-radius: 50%;

		 	@media screen and (max-width:$large_tablet) {
		 		width: 4rem;
		 		height: 4rem;
		 		left: 0.5rem;
		 	}


			/*opacity: 0;*/
			
			svg {
				width: 55%;
				height: auto;
			}
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		font-size: 2.6rem;
		line-height: 160%;
		position: relative;
		z-index: 2;
		font-weight: 400;
		letter-spacing: 0.02em;
		// font-family: $primary-f2;

		 @media screen and (max-width:$large_tablet) {
		 	flex-direction: row;
		 	justify-content: space-between;
		 	flex-wrap: wrap;
		 	font-size: 1.8rem;
		 }

		&-link {
			transition: all 0.5s;
			position: relative;
				&::before {
					content: "";
					position: absolute;
					right: 0px;
					bottom: 0px;
					width: 0%;
					height: 1px;
					background: white;
					transition: all 0.5s;
				}

			&:hover::before {
					left: 0px;
					right: auto;
					width: 100%;
			}
		}
	}
}