.header {
	padding-top: 3rem;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	// opacity: 0;
	z-index: 2;
	// animation: header-opacity 1s;
	animation-fill-mode: forwards;

	&:not(.header--fixed) {
		pointer-events: initial !important;
	}


	&--animated {
		overflow: hidden;
	}	


	&-anim {
		&--desktop {
			@media screen and (min-width:$large_tablet) {
				opacity: 0;
			}

		}

		&--mobile {
			@media screen and (max-width:$large_tablet) {
				opacity: 0;
			}
		}

	}

	&:hover {
		overflow: initial;
	}

	@media screen and (max-width:$large_tablet) {
		padding: 1rem 0;
	}

	&--hide {
		overflow: initial;
		transform: translateY(-100%);
	}


	.center-wrap {
		 			@media screen and (max-width:$large_tablet) {
		 				display: flex;
		 				align-items: center;
 					justify-content: flex-end !important;
 			}
	}


	&--fixed {
		


		transition: background 0.5s;
		position: fixed;
		opacity: 1;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 98;
		display: flex;
		align-items: center;
		padding-top: 2rem;

 			@media screen and (max-width:$large_tablet) {
 				padding-top: 1rem;
 			}



		.center-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
 			@media screen and (max-width:$large_tablet) {
 				justify-content: space-between;
 			}


		}


		&.header--white .header__wrap {
			background: rgba($blue,0.3) !important;
		}


		.header {


			&__wrap {
				background: rgba($violet,0.7);
				border-radius: 10rem;
				padding: 0.5rem;
				gap: 5rem;
				-webkit-backdrop-filter: blur(10px);
				backdrop-filter: blur(10px);
				transition: all 0.5s !important;
 				@media screen and (max-width:$large_tablet) {
 					gap: 1rem;
 					padding: 0.25rem;
 				}

			}


			&__times-item {
				margin-bottom: 0px;
				&:nth-child(2) {
					display: none;
				}
			}

			&__btn {
				opacity: 1 !important;
				order: -1;
				background: transparent;
				margin-right: 0px;
				padding: 0.5rem;
				padding-left: 2rem;
				font-size: 2rem;
				font-weight: 400;
			}

			&__burger {
				opacity: 1 !important;
				&-wrap {
					height: 5.5rem;
					width: 5.5rem;

				}

				font-size: 1.8rem;
			}

			&__logo {
 				@media screen and (min-width:$large_tablet) {
					display: none;
				}
			}

		}

	}

	&--black {
		background: #000;
		box-shadow: 0px 1px 36px 13px rgba(0, 0, 0, 0.03);

		.header {
			&__burger {
				div {
					border-bottom-color: #fff;
				}
			}
		}
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

	}

	&__logo {

		max-width: 10rem;
		width: 100%;
		display: inline-block;

		@media screen and (max-width:$large_tablet) {
			top: 1rem;
			left: calc( var(--p-page) * 0.1rem );
			z-index: 999;
			position: absolute;
		}

		&--fixed {
			position: fixed;
			mix-blend-mode: difference;
		}
		
		@media screen and (max-width:$large_tablet) {
			max-width: 5rem;
		}

		
		img {
			max-width: 100%;
			height: auto;
		}

	}


	&__times {
		display: flex;
		flex-direction: column;
		// font-weight: 400;
		// letter-spacing: 0.03em;
		// font-family: $primary-f2;
		margin: 0px auto;
		gap: 1.25rem;
		font-size: 1.6rem;
		
		.header:not(.header--fixed) & {
			color: rgba(white,0.8);
			display: none;
		}

 		@media screen and (max-width:$large_tablet) {
 			font-size: 1.3rem;
 			.header:not(.header--fixed) & {
				display: none;
			}

			.header--fixed & {
				padding-left: 0.4rem;
			}

		}

		&-item {
			display: flex;
			justify-content: space-between;
 			@media screen and (max-width:$large_tablet) {
 				span {
 					margin-left: 1rem !important;
 				}

 				p {
 					display: none;
 				}
 			}

			span {
				margin-left: 2.5rem;
			}

		}
	}


	&__btn {
		margin-right: 3rem;
		margin-left: auto;
		font-weight: 400;
		border-color: rgba(white,0.5);

		@media screen and (max-width:$large_tablet) {
			display: none;
		}

		&:hover {
			border-color: white;
			.header__btn-arrow {
				background: rgba(white,0.25);
			}
		}


		.btn__arrow {
			svg {
				* {
					// fill: white !important;
				}
			}
		}
	}

	&__burger {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding-left: 2rem;
		font-size: 2.2rem;
		font-weight: 300;
		cursor: pointer;
		flex-shrink: 0;
		border: 1px solid rgba(white,0.5);
		border-radius: 10rem;
		transition: border-color 0.5s, color 0.5s,;
		@media screen and (max-width:$large_tablet) {
			padding-left: 1rem !important;
			gap: 0.5rem !important;
			font-size: 1.5rem !important;
		}

		&:hover {
			border-color: white;
			.header__burger-wrap {
				border-color: white;
			}
		}

		&-wrap {
			height: 6.4rem;
			width: 6.4rem;
			border-radius: 50%;
			border: 1px solid rgba(white,0.5);
			margin-right: -1px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			display: flex;
			flex-wrap: wrap;
			transition: all 0.5s;

		@media screen and (max-width:$large_tablet) {
			height: 3.8rem !important;
			width: 3.8rem !important;
		}



			> div {
				display: flex;
				gap: 0.6rem;
				flex-shrink: 0;
				@media screen and (max-width:$large_tablet) {
					gap: 0.4rem !important;
				}

				&:nth-child(1) {
					margin-bottom: 0.6rem;
					@media screen and (max-width:$large_tablet) {
						margin-bottom: 0.4rem !important;
					}

				}
				> div {
					height: 0.5rem;
					width: 0.5rem;
					background: white;
					border-radius: 1px;
					flex-shrink: 0;

					@media screen and (max-width:$large_tablet) {
					height: 0.35rem !important;
					width: 0.35rem !important;
					}

				}
			}
		}
	}
}