.main-screen {
        background-color: $blue;
        position: relative;

        // &__bg {
        //     content: "";
        //     position: absolute;
        //     left: 0px;
        //     top: 0px;
        //     width: 100%;
        //     height: 100%;
        //     background-image: url('~img/svg/gradient-bg.svg');
        //     background-size: cover;
        //     opacity: 0.5;
        // }

    &__wrap {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	height: 100vh;
        padding-top: var(--header-height);
        padding-bottom: 5rem;
    }

    &__video {
    	width: 67rem;
        display: block;
        margin: auto 0px;
        z-index: 2;
        overflow: visible !important;
        filter: brightness(1.25);
        @media screen and (max-width:$large_tablet) {
            width: 100%;
        }


        &--center {
            > div {
                clip-path: none !important; 
            }
        }

    	> div {
    		padding-bottom: 56%;
            overflow: visible !important;
            clip-path: polygon(30% 100%, 70% 100%, 70% 100%, 30% 100%);

    	}


        iframe, video, &-overlay, &-overlay2 {
            border-radius: 1rem;
            @media screen and (max-width:$large_tablet) {
                border-radius: 0.5rem;
            }

            width: 100%;
            height: 100%;

            position: absolute;
            left: 50% !important; 
            top: 50% !important;
            transform: translate(-50%,-50%);
            object-fit: cover;
            border: none !important;
        }

        &-overlay {
            z-index: 2;
            height: calc( 100% - 100px );
            margin-top: calc( -100px / 2 );
            display: block;
            @media screen and (max-width:$large_tablet) {
                display: none;
            }


            &2 {
                pointer-events: none;
                opacity: 0;
                background: black;
                z-index: 2;

                @media screen and (max-width:$large_tablet) {
                    display: none;
                }


            }
        }
    }

    &__bottom {
        position: relative;
    }

    &__stack {
        position: absolute;
        left: 0px;
        bottom: calc(100% + 3rem );
        display: flex;
        gap: 1.5rem;
        @media screen and (max-width:$large_tablet) {
            gap: 0.5rem;
            bottom: calc(100% + 1rem );
        }

        &-item {
            border: 1px solid rgba(white,0.5);
            border-radius: 50px;
            padding: 1.5rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 0.8;
            opacity: 0;
            @media screen and (max-width:$large_tablet) {
                font-size: 1.2rem;
                padding: 1rem;
            }

        }
    }


    &__title {
    	font-size: 14.5rem;
        font-weight: 400;
        white-space: nowrap;
        letter-spacing: -0.05em;


        &-wrap {
            display: inline-block;
        }

        .anim-line-wrap {
            &:nth-child(2){
                font-size: 0.94em;
                @media screen and (max-width:$large_tablet) {
                    margin-bottom: 0.5rem;
                    font-size: 1em;
                }
            }
        }

        @media screen and (max-width:$large_tablet) {
            font-size: 4.1rem;
            font-weight: 400;
        }





    	&-change {
            border: 2px solid transparent;
            position: relative;
            line-height: 80%;
            border-radius: 100px;
            display: inline-block;
            padding: 1rem 2.5rem;
            padding-right: 1.5rem;

            margin-bottom: -0.115em;

            @media screen and (max-width:$large_tablet) {
                padding: 0.3rem;
                border: 1px solid transparent;
                margin-bottom: -0.15em;
            }


            &-base {
                opacity: 0;
                display: inline-block;
            }

            .at-element--finished & {
    		  border-color: rgba(white,0.5);
              transition: border-color 3s;
              overflow: hidden;
            }

            &-item {
                position: absolute;
                padding-left: 2.5rem;
                height: 100%;
                top: 0px;
                left: 0px;
                display: flex;
                align-items: center;
                transition: all 1s;
                transform: translateY(0%);
                opacity: 1;
                filter: blur(0px);

                .main-screen__title-change--fast & {
                    transform: none !important;
                }
                &--hide {
                    transform: translateY(100%);
                    opacity: 0;
                    filter: blur(15px);
                }
                &--remove {
                    transform: translateY(-100%);
                    opacity: 0;
                    filter: blur(15px);
                }

                @media screen and (max-width:$large_tablet) {
                    padding: 0.3rem;
                }

            }
    	}
    }


}