.socials {
    display: flex;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s;

        svg {
            fill: $secondary-c;
            transition: fill .5s;
            width: 3.8rem;

            &:hover {
                fill: #fff;
            }
        }

        &+.socials__link {
            margin: 0 0 0 5.5rem;
        }



        &--faceb {
            svg {
                width: 4.1rem;
            }
        }
    }
}