.tooltip {
	padding: 2rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0px);
	top: calc( 100% + 2rem );
	background: white;
	color: $color--black;
	font-size: 1.6rem;
	width: 30rem;
	border-radius: 0.75rem;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
    @media screen and (max-width:$large_tablet) {
    	font-size: 1.2rem;
    	width: 20rem;
    }


&::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 1.25rem solid white; /* Цвет треугольника */
  top: -1.2rem; /* Смещение снизу тултипа */
  left: 50%;
  transform: translateX(-50%);
}

&-hover {
	position: relative;
	&:hover {
		.tooltip {
			opacity: 1;
			visibility: visible;
		}
	}
}
}