.about#about
	.center-wrap
		.about__wrap
			.about__left
				.about__circles
					.about__circle.about__circle--circle1.cursor-hover.magnet-wrap(data-cov='4')
						.magnet-area
							.magnet-element
								span High <br> Standard
								video(class='about__circle-video' autoplay muted loop playsinline )
									source(type="video/webm" src='https://assets-global.website-files.com/65035c417fe69396bd8c0d5c/651d5877517329fb3678bac3_Card-03-transcode.webm')
					.about__circle.about__circle--circle2.cursor-hover.magnet-wrap(data-cov='4')
						.magnet-area
							.magnet-element
								span Value<br>for Design
					.about__circle.about__circle--circle3.cursor-hover.magnet-wrap(data-cov='4')
						.magnet-area
							.magnet-element
								span Cost<br>Effective
					.about__line.about__line--line1
					.about__line.about__line--line2
					.about__line.about__line--line3
			.about__right
				.about__title1
					.anim-line-wrap
						.anim-line Our
					.anim-line-wrap
						.anim-line Uniqueness?
				.about__peoples
					.about__people
						.about__people-position CTO & Co-Founder
						.about__people-img.img-wrap
							div
								img(src='assets/images/png/tim.png' alt='')
						.about__people-bottom
							.about__people-name Tim
							a(href='https://www.linkedin.com/in/tim-artydevs/' target='_blank').about__people-social.cursor-hover In
					.about__people
						.about__people-position Business Dev & Founder
						.about__people-img.img-wrap
							div
								img(src='assets/images/png/alina.png' alt='')
						.about__people-bottom
							.about__people-name Alina
							a(href='https://www.linkedin.com/in/tim-artydevs/' target='_blank').about__people-social.cursor-hover In
		.about__title-wrap
			.about__title
				.anim-line-wrap.mobile--hide
					span.anim-line <span>5 a.m. February 2022</span> – bombs across the country woke our 
				.anim-line-wrap.mobile--hide
					span.anim-line team. Ukraine’s economy stopped. It was the first day of the war
				.anim-line-wrap.mobile--hide
					span.anim-line and we had to adapt to keep moving

				.anim-line-wrap.desktop--hide
					span.anim-line <span>5 a.m. February 2023</span> – bombs across 
				.anim-line-wrap.desktop--hide
					span.anim-line the country woke our team. Ukraine’s economy
				.anim-line-wrap.desktop--hide
					span.anim-line  stopped. It was the first day of the war and we
				.anim-line-wrap.desktop--hide
					span.anim-line had to adapt to keep moving
		.about__text-wrap
			.about__text
				.anim-line-wrap.mobile--hide
					span.anim-line Our technical expertise has always been stronger than our design capabilities,
				.anim-line-wrap.mobile--hide
					span.anim-line and at that moment, we fully realized exactly what to do next.
				<br class='mobile--hide'>
				.anim-line-wrap.mobile--hide
					span.anim-line We stopped handling our own design and lead generation to focus exclusively
				.anim-line-wrap.mobile--hide
					span.anim-line on development for designers and branding agencies.

				.anim-line-wrap.desktop--hide
					span.anim-line Our technical expertise has always been stronger 
				.anim-line-wrap.desktop--hide
					span.anim-line than our design capabilities. At that moment, we
				.anim-line-wrap.desktop--hide
					span.anim-line knew what to do.
				<br class='desktop--hide'>
				.anim-line-wrap.desktop--hide
					span.anim-line We stopped handling our own design and lead
				.anim-line-wrap.desktop--hide
					span.anim-line generation to focus exclusively on development
				.anim-line-wrap.desktop--hide
					span.anim-line for designers and branding agencies.
