.about#about
	.center-wrap
		.about__wrap
			.about__left
				.about__circles
					.about__circle.about__circle--circle1.cursor-hover.magnet-wrap(data-cov='4')
						.magnet-area
							.magnet-element
								span High <br> Standard
								video(class='about__circle-video' autoplay muted loop playsinline )
									source(type="video/webm" src='https://assets-global.website-files.com/65035c417fe69396bd8c0d5c/651d5877517329fb3678bac3_Card-03-transcode.webm')
					.about__circle.about__circle--circle2.cursor-hover.magnet-wrap(data-cov='4')
						.magnet-area
							.magnet-element
								span Value<br>for Design
					.about__circle.about__circle--circle3.cursor-hover.magnet-wrap(data-cov='4')
						.magnet-area
							.magnet-element
								span Cost<br>Effective
					.about__line.about__line--line1
					.about__line.about__line--line2
					.about__line.about__line--line3
			.about__right
				.about__title1
					.anim-line-wrap
						.anim-line Our
					.anim-line-wrap
						.anim-line Uniqueness?
				.about__peoples
					.about__people
						.about__people-position CTO & Co-Founder
						.about__people-img.img-wrap
							div
								img(src='assets/images/png/tim.png' alt='')
						.about__people-bottom
							.about__people-name Tim
							a(href='https://api.whatsapp.com/send?phone=380969084855' target='_blank').about__people-social.cursor-hover
								svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M5.51507 18.7301C6.89685 19.4838 8.45258 19.881 10.0359 19.8815H10.0398C15.2536 19.8815 19.4979 15.6375 19.5 10.4214C19.501 7.89369 18.5179 5.51685 16.7318 3.72876C14.9457 1.94061 12.5704 0.955376 10.0396 0.954346C4.82529 0.954346 0.581395 5.19794 0.579335 10.4139C0.578607 12.0813 1.01425 13.7087 1.84215 15.1434L0.5 20.0456L5.51507 18.7301ZM10.0428 2.55213C12.1431 2.55286 14.1173 3.37185 15.6019 4.85806C17.0864 6.34426 17.9035 8.31982 17.9027 10.4208C17.9009 14.7564 14.3736 18.2838 10.0398 18.2838H10.0365C8.62561 18.2833 7.24176 17.9042 6.03453 17.1878L5.74743 17.0174L2.77144 17.7981L3.56576 14.8965L3.37878 14.599C2.59168 13.3471 2.17597 11.9002 2.17658 10.4144C2.17833 6.07923 5.70568 2.55213 10.0428 2.55213Z" fill="white")
									path(d="M10.2375 14.3266C10.8015 14.5702 11.2418 14.7156 11.585 14.8245C12.1513 15.0044 12.6666 14.979 13.0739 14.9182C13.528 14.8504 14.4724 14.3464 14.6695 13.7943C14.8664 13.242 14.8664 12.7687 14.8073 12.6702C14.7482 12.5716 14.5906 12.5124 14.3542 12.3941C14.1179 12.2758 12.9557 11.704 12.7391 11.625C12.5224 11.5462 12.3648 11.5068 12.2072 11.7433C12.0497 11.9799 11.5967 12.5124 11.4587 12.6702C11.3209 12.8279 11.183 12.8477 10.9467 12.7293C10.7103 12.611 9.94865 12.3615 9.04578 11.5561C8.34304 10.9293 7.86867 10.1552 7.73079 9.91863C7.5929 9.68202 7.71606 9.55408 7.83442 9.43626C7.94079 9.33031 8.07085 9.16013 8.18898 9.02213C8.30716 8.88412 8.34656 8.78545 8.42534 8.62782C8.50413 8.46999 8.46474 8.33199 8.40565 8.21369C8.34656 8.09538 7.87382 6.93184 7.67685 6.4585C7.48496 5.99764 7.29011 6.06007 7.14502 6.05274C7.00732 6.04589 6.84956 6.04443 6.69198 6.04443C6.5344 6.04443 6.27827 6.10359 6.06166 6.3402C5.84499 6.57687 5.23438 7.14876 5.23438 8.31217C5.23438 9.47571 6.08136 10.5997 6.19954 10.7574C6.31761 10.9151 7.86624 13.3027 10.2375 14.3266Z" fill="white")
							a(href='mailto:tim@artydevs.com' target='_blank').about__people-social.about__people-social--email.cursor-hover
								svg(width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M4.33301 6.7083L10.2747 11.1645C11.2969 11.9312 12.7024 11.9312 13.7247 11.1645L19.6663 6.70825" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
									path(d="M18.7083 4.80127H5.29167C4.23312 4.80127 3.375 5.65939 3.375 6.71794V16.3013C3.375 17.3598 4.23312 18.2179 5.29167 18.2179H18.7083C19.7669 18.2179 20.625 17.3598 20.625 16.3013V6.71794C20.625 5.65939 19.7669 4.80127 18.7083 4.80127Z" stroke="white" stroke-width="1.5" stroke-linecap="round")
							a(href='https://www.linkedin.com/in/tim-artydevs/' target='_blank').about__people-social.about__people-social--in.cursor-hover
								svg(width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M13.3071 10.5878L13.3071 10.5878C13.7294 9.79794 14.6014 9 16.1514 9C17.8225 9 18.7543 9.53504 19.2881 10.3733C19.8385 11.2378 20 12.4734 20 13.9487V19.75H17.8325C17.4183 19.75 17.0825 19.4142 17.0825 19V14.6372C17.0825 14.0092 17.0793 13.2295 16.8331 12.6077C16.7071 12.2895 16.5132 12 16.2145 11.7916C15.9153 11.583 15.5323 11.4707 15.0542 11.4707C14.5776 11.4707 14.1908 11.5638 13.8827 11.7445C13.5725 11.9265 13.3607 12.1864 13.218 12.4877C12.9409 13.0731 12.9175 13.8362 12.9175 14.5464V19C12.9175 19.4142 12.5817 19.75 12.1675 19.75H10.75C10.3358 19.75 10 19.4142 10 19V9.98291C10 9.5687 10.3358 9.23291 10.75 9.23291H12.2783C12.5553 9.23291 12.7798 9.45742 12.7798 9.73438V10.4557C12.7798 10.6104 12.9052 10.7358 13.0599 10.7358C13.1631 10.7358 13.2582 10.6792 13.3071 10.5878ZM4.75 5.48047C4.75 4.52453 5.52551 3.75 6.48193 3.75C7.43805 3.75 8.2124 4.52498 8.2124 5.48047C8.2124 6.4397 7.43286 7.23145 6.48047 7.23145C5.52832 7.23145 4.75 6.43995 4.75 5.48047ZM5.02246 9.98291C5.02246 9.5687 5.35825 9.23291 5.77246 9.23291H7.19287C7.60708 9.23291 7.94287 9.5687 7.94287 9.98291V19C7.94287 19.4142 7.60708 19.75 7.19287 19.75H5.77246C5.35825 19.75 5.02246 19.4142 5.02246 19V9.98291Z" fill="white" stroke="#0B1022" stroke-width="0.5")
					.about__people
						.about__people-position Business Dev & Founder
						.about__people-img.img-wrap
							div
								img(src='assets/images/png/alina.png' alt='')
						.about__people-bottom
							.about__people-name Alina
							a(href='https://api.whatsapp.com/send?phone=380968037912' target='_blank').about__people-social.cursor-hover
								svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M5.51507 18.7301C6.89685 19.4838 8.45258 19.881 10.0359 19.8815H10.0398C15.2536 19.8815 19.4979 15.6375 19.5 10.4214C19.501 7.89369 18.5179 5.51685 16.7318 3.72876C14.9457 1.94061 12.5704 0.955376 10.0396 0.954346C4.82529 0.954346 0.581395 5.19794 0.579335 10.4139C0.578607 12.0813 1.01425 13.7087 1.84215 15.1434L0.5 20.0456L5.51507 18.7301ZM10.0428 2.55213C12.1431 2.55286 14.1173 3.37185 15.6019 4.85806C17.0864 6.34426 17.9035 8.31982 17.9027 10.4208C17.9009 14.7564 14.3736 18.2838 10.0398 18.2838H10.0365C8.62561 18.2833 7.24176 17.9042 6.03453 17.1878L5.74743 17.0174L2.77144 17.7981L3.56576 14.8965L3.37878 14.599C2.59168 13.3471 2.17597 11.9002 2.17658 10.4144C2.17833 6.07923 5.70568 2.55213 10.0428 2.55213Z" fill="white")
									path(d="M10.2375 14.3266C10.8015 14.5702 11.2418 14.7156 11.585 14.8245C12.1513 15.0044 12.6666 14.979 13.0739 14.9182C13.528 14.8504 14.4724 14.3464 14.6695 13.7943C14.8664 13.242 14.8664 12.7687 14.8073 12.6702C14.7482 12.5716 14.5906 12.5124 14.3542 12.3941C14.1179 12.2758 12.9557 11.704 12.7391 11.625C12.5224 11.5462 12.3648 11.5068 12.2072 11.7433C12.0497 11.9799 11.5967 12.5124 11.4587 12.6702C11.3209 12.8279 11.183 12.8477 10.9467 12.7293C10.7103 12.611 9.94865 12.3615 9.04578 11.5561C8.34304 10.9293 7.86867 10.1552 7.73079 9.91863C7.5929 9.68202 7.71606 9.55408 7.83442 9.43626C7.94079 9.33031 8.07085 9.16013 8.18898 9.02213C8.30716 8.88412 8.34656 8.78545 8.42534 8.62782C8.50413 8.46999 8.46474 8.33199 8.40565 8.21369C8.34656 8.09538 7.87382 6.93184 7.67685 6.4585C7.48496 5.99764 7.29011 6.06007 7.14502 6.05274C7.00732 6.04589 6.84956 6.04443 6.69198 6.04443C6.5344 6.04443 6.27827 6.10359 6.06166 6.3402C5.84499 6.57687 5.23438 7.14876 5.23438 8.31217C5.23438 9.47571 6.08136 10.5997 6.19954 10.7574C6.31761 10.9151 7.86624 13.3027 10.2375 14.3266Z" fill="white")
							a(href='mailto:alina@artydevs.com' target='_blank').about__people-social.about__people-social--email.cursor-hover
								svg(width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M4.33301 6.7083L10.2747 11.1645C11.2969 11.9312 12.7024 11.9312 13.7247 11.1645L19.6663 6.70825" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
									path(d="M18.7083 4.80127H5.29167C4.23312 4.80127 3.375 5.65939 3.375 6.71794V16.3013C3.375 17.3598 4.23312 18.2179 5.29167 18.2179H18.7083C19.7669 18.2179 20.625 17.3598 20.625 16.3013V6.71794C20.625 5.65939 19.7669 4.80127 18.7083 4.80127Z" stroke="white" stroke-width="1.5" stroke-linecap="round")
							a(href='https://www.linkedin.com/in/alina-artydevs/' target='_blank').about__people-social.about__people-social--in.cursor-hover
								svg(width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M13.3071 10.5878L13.3071 10.5878C13.7294 9.79794 14.6014 9 16.1514 9C17.8225 9 18.7543 9.53504 19.2881 10.3733C19.8385 11.2378 20 12.4734 20 13.9487V19.75H17.8325C17.4183 19.75 17.0825 19.4142 17.0825 19V14.6372C17.0825 14.0092 17.0793 13.2295 16.8331 12.6077C16.7071 12.2895 16.5132 12 16.2145 11.7916C15.9153 11.583 15.5323 11.4707 15.0542 11.4707C14.5776 11.4707 14.1908 11.5638 13.8827 11.7445C13.5725 11.9265 13.3607 12.1864 13.218 12.4877C12.9409 13.0731 12.9175 13.8362 12.9175 14.5464V19C12.9175 19.4142 12.5817 19.75 12.1675 19.75H10.75C10.3358 19.75 10 19.4142 10 19V9.98291C10 9.5687 10.3358 9.23291 10.75 9.23291H12.2783C12.5553 9.23291 12.7798 9.45742 12.7798 9.73438V10.4557C12.7798 10.6104 12.9052 10.7358 13.0599 10.7358C13.1631 10.7358 13.2582 10.6792 13.3071 10.5878ZM4.75 5.48047C4.75 4.52453 5.52551 3.75 6.48193 3.75C7.43805 3.75 8.2124 4.52498 8.2124 5.48047C8.2124 6.4397 7.43286 7.23145 6.48047 7.23145C5.52832 7.23145 4.75 6.43995 4.75 5.48047ZM5.02246 9.98291C5.02246 9.5687 5.35825 9.23291 5.77246 9.23291H7.19287C7.60708 9.23291 7.94287 9.5687 7.94287 9.98291V19C7.94287 19.4142 7.60708 19.75 7.19287 19.75H5.77246C5.35825 19.75 5.02246 19.4142 5.02246 19V9.98291Z" fill="white" stroke="#0B1022" stroke-width="0.5")
							a(href='https://t.me/Alina_artydevs' target='_blank').about__people-social.cursor-hover
								svg(width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M16.6676 0.417495C16.435 0.428318 16.2159 0.495937 16.0211 0.571678H16.0184C15.821 0.65012 14.8824 1.04504 13.4569 1.64283C12.0314 2.24333 10.1812 3.02235 8.34455 3.79596C4.67667 5.34048 1.07099 6.86065 1.07099 6.86065L1.11427 6.84441C1.11427 6.84441 0.865419 6.92556 0.605746 7.10409C0.473202 7.19065 0.327141 7.30967 0.200005 7.4963C0.0728761 7.68294 -0.0299131 7.96967 0.00795763 8.26451C0.0701684 8.76492 0.39476 9.06517 0.627386 9.23017C0.862712 9.39787 1.08722 9.47632 1.08722 9.47632H1.09263L4.47379 10.6151C4.62527 11.102 5.50437 13.9908 5.71535 14.6563C5.83978 15.0539 5.9615 15.3027 6.11298 15.4921C6.18601 15.5895 6.27257 15.6706 6.37536 15.7355C6.41593 15.7599 6.45921 15.7788 6.50249 15.795C6.51601 15.8031 6.52954 15.8059 6.54577 15.8086L6.5106 15.8004C6.52143 15.8031 6.52954 15.8113 6.53765 15.814C6.5647 15.8221 6.58364 15.8248 6.6188 15.8302C7.15438 15.9925 7.58446 15.6598 7.58446 15.6598L7.60881 15.6409L9.60504 13.8231L12.951 16.3901L13.0268 16.4226C13.7247 16.7282 14.4306 16.5578 14.8039 16.2576C15.1799 15.9546 15.326 15.5678 15.326 15.5678L15.3503 15.5056L17.9362 2.25958C18.0093 1.93228 18.0282 1.62662 17.9471 1.32908C17.8659 1.03154 17.6576 0.75293 17.4061 0.604162C17.1518 0.452686 16.9002 0.406672 16.6676 0.417495ZM16.5973 1.83759C16.5946 1.88087 16.6027 1.87546 16.5838 1.95931V1.96743L14.0222 15.0755C14.0114 15.0944 13.9924 15.135 13.941 15.1756C13.8869 15.2189 13.8437 15.2459 13.6192 15.1567L9.5266 12.0189L7.0543 14.2722L7.57364 10.9559C7.57364 10.9559 13.9843 4.98072 14.2602 4.72376C14.5361 4.46679 14.4442 4.41269 14.4442 4.41269C14.4631 4.09892 14.0276 4.32072 14.0276 4.32072L5.59635 9.54394L5.59364 9.53042L1.55247 8.16984V8.16713C1.54977 8.16713 1.54436 8.16443 1.54166 8.16443C1.54436 8.16443 1.5633 8.15631 1.5633 8.15631L1.58494 8.14549L1.60658 8.13738C1.60658 8.13738 5.21495 6.61721 8.88283 5.07269C10.7195 4.29908 12.5697 3.52006 13.9924 2.91957C15.4152 2.32179 16.4675 1.88359 16.527 1.85924C16.5838 1.8376 16.5567 1.83759 16.5973 1.83759Z" fill="white")


		.about__title-wrap
			.about__title
				.anim-line-wrap.mobile--hide
					span.anim-line <span>5 a.m. February 2022</span> – bombs across the country woke our 
				.anim-line-wrap.mobile--hide
					span.anim-line team. Ukraine’s economy stopped. It was the first day of the war
				.anim-line-wrap.mobile--hide
					span.anim-line and we had to adapt to keep moving

				.anim-line-wrap.desktop--hide
					span.anim-line <span>5 a.m. February 2023</span> – bombs across 
				.anim-line-wrap.desktop--hide
					span.anim-line the country woke our team. Ukraine’s economy
				.anim-line-wrap.desktop--hide
					span.anim-line  stopped. It was the first day of the war and we
				.anim-line-wrap.desktop--hide
					span.anim-line had to adapt to keep moving
		.about__text-wrap
			.about__text
				.anim-line-wrap.mobile--hide
					span.anim-line Our technical expertise has always been stronger than our design capabilities,
				.anim-line-wrap.mobile--hide
					span.anim-line and at that moment, we fully realized exactly what to do next.
				<br class='mobile--hide'>
				.anim-line-wrap.mobile--hide
					span.anim-line We stopped handling our own design and lead generation to focus exclusively
				.anim-line-wrap.mobile--hide
					span.anim-line on development for designers and branding agencies.

				.anim-line-wrap.desktop--hide
					span.anim-line Our technical expertise has always been stronger 
				.anim-line-wrap.desktop--hide
					span.anim-line than our design capabilities. At that moment, we
				.anim-line-wrap.desktop--hide
					span.anim-line knew what to do.
				<br class='desktop--hide'>
				.anim-line-wrap.desktop--hide
					span.anim-line We stopped handling our own design and lead
				.anim-line-wrap.desktop--hide
					span.anim-line generation to focus exclusively on development
				.anim-line-wrap.desktop--hide
					span.anim-line for designers and branding agencies.
