section.calc
	.center-wrap
		h2.calc__title How much extra profit could you unlock via cost-effective development? 🤯
		.calc__wrap.toogles
			.calc__left
				.calc__left-title Select Your Development Case:
				.calc__selects
					.calc__select.calc__select--active.toogles__item-title.toogles__item-title--active(data-toogles='1')
						span I have development partners
					.calc__select.toogles__item-title(data-toogles='2')
						span I'm not earning from development yet
					.calc__select.toogles__item-title(data-toogles='3')
						span I recommend developers for a Commission
			.calc__right
				.toogles__item.toogles__item--active(data-toogles='1')
					.toogles__item-content(style='display:block;')
						div
							.calc__sliders
								.calc__slider-wrap
									.calc__slider-top
										.calc__slider-title
											span Development hours per month
											div.calc__slider-info.tooltip-hover ?
												.tooltip The average number of development hours you can delegate per month. You can assume it's the same as the design hours.
											.calc__slider-input#display2 80
									input.slider#slider2(type="range", min="0", max="800", value="80")
								.calc__slider-double
									.calc__slider-wrap
										.calc__slider-top
											.calc__slider-title
												span Your Partners Rate
												div.calc__slider-info.tooltip-hover ?
													.tooltip Our rate is $25. If your partners' rate is $30, you could earn $5 more per hour.
												.calc__slider-input#display1(data-symbol='$') 30%
										input.slider#slider1( type="range", min="0", max="60", value="30")
								.calc__slider-wrap
									.calc__slider-top
										.calc__slider-title
											span If we save 20% in work hours
											div.calc__slider-info.tooltip-hover ?
												.tooltip If your partner takes 100 hours and we finish the same work in just 80, you earn 20% more.<br><br> We’re 20% faster on average due to our expertise and narrow focus — sometimes even 50% faster, with no drop in quality.
											.calc__slider-input#display3(data-symbol='%') 30%
									input.slider#slider3(type="range", min="0", max="50", value="20")
							.calc__title2 You are Losing and<br> could Unlock 🤯
							.calc__result
								.calc__result-item
									span#result2 2,400$
									| x 12 = 
								.calc__result-main#result $42,000
								.calc__result-item every<br class='desktop--hide'> year!
				.toogles__item(data-toogles='2')
					.toogles__item-content
						div
							.calc__sliders
								.calc__slider-wrap
									.calc__slider-top
										.calc__slider-title
											span Your Rate
											div.calc__slider-info.tooltip-hover ?
												.tooltip If your rate is $50, your client will be willing to pay the same for development.<br><br> $25 will be our rate, and the rest 25$ we’re ready to pass on to you.
											.calc__slider-input#display2_1(data-symbol='$') 30%
									input.slider#slider2_1( type="range", min="0", max="150", value="50")
								.calc__slider-wrap
									.calc__slider-top
										.calc__slider-title
											span Average Monthly Design Hours
											div.calc__slider-info.tooltip-hover ?
												.tooltip The average number of development hours you can delegate per month. You can assume it's the same as the design hours.
											.calc__slider-input#display2_2 80
									input.slider#slider2_2(type="range", min="0", max="800", value="100")
							.calc__title2 You are Losing and<br> could Unlock 🤯
							.calc__result
								.calc__result-item
									span#result2_2 2,400$
									| x 12 = 
								.calc__result-main#result2_1 $42,000
								.calc__result-item every year!
				.toogles__item(data-toogles='3')
					.toogles__item-content
						div
							.calc__sliders
								.calc__slider-wrap
									.calc__slider-top
										.calc__slider-title
											span Your Rate
											div.calc__slider-info.tooltip-hover ?
												.tooltip If your rate is $50, your client will be willing to pay the same for development.<br><br> $25 will be our rate, and the rest 25$ we’re ready to pass on to you.
											.calc__slider-input#display3_1(data-symbol='$') 30%
									input.slider#slider3_1( type="range", min="0", max="150", value="50")
								.calc__slider-wrap
									.calc__slider-top
										.calc__slider-title
											span Average Monthly Dev Hours
											div.calc__slider-info.tooltip-hover ?
												.tooltip The average number of development hours you can delegate per month. You can assume it's the same as the design hours.
											.calc__slider-input#display3_2 80
									input.slider#slider3_2(type="range", min="0", max="800", value="100")
							.calc__title2 We’re able to pay<br> next commision:
							.calc__result
								.calc__result-item
									span#result3_2 2,400$
									| x 12 = 
								.calc__result-main#result3_1 $42,000
								.calc__result-item every year!
