section.choose
	.choose__shadow
	.center-wrap
		h2.choose__title
			.anim-line-wrap
				.anim-line Just <span class='choose__title--color'>Click</span> to see <span class='desktop--hide'>how</span> 
			.anim-line-wrap
				.anim-line <span class='mobile--hide'>how we plan to</span><span class='desktop--hide'>WE PLAN TO</span>
			.anim-line-wrap
				.anim-line <span class='choose__title-border'>increase</span>
			.anim-line-wrap
				.anim-line your
	include ../includes/cta
