section.choose
	.choose__shadow
	.center-wrap
		.choose__title
			.anim-line-wrap
				.anim-line Just <span>Click</span> to see
			.anim-line-wrap
				.anim-line how we can
			.anim-line-wrap
				.anim-line <span class='choose__title-border'>increase</span>
			.anim-line-wrap
				.anim-line your
	include ../includes/cta
