.cta
	.cta__list
		a.cta__item.cursor-hover(href="/calc.html")
			.cta__item-title Design Profit
			+btn({class:'btn--link',text:'Explore More',arrow:true})
		span.cta__item.cursor-hover(onclick='alert("soon!")')
			.cta__item-title Design Value
			+btn({class:'btn--link',text:'Explore More',arrow:true})
		.cta__hover