section.features
	.features__item.features__item--show-anim.features__item--pixel
		.center-wrap
			.features__item-title Pixel Perfect Only
		.drag
			.drag__item.drag__item--first
				iframe(src="/project/screen.html", width="100%", height="100%", style="border:none;", allowfullscreen, loading="lazy")
			.drag__item.drag__item--second
				iframe(src="/project/screen.html", width="100%", height="100%", style="border:none;", allowfullscreen, loading="lazy")
			.drag__controller
				svg(width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
					rect(x="1.5" y="1.5" width="77" height="77" rx="38.5" fill="white")
					rect(x="1.5" y="1.5" width="77" height="77" rx="38.5" stroke="#4C00FF" stroke-width="3")
					path(d="M30 48.7343L21.2658 40.0002L30 31.266L28.3066 29.5726L17.879 40.0002L28.3066 50.4277L30 48.7343Z" fill="#4C00FF")
					path(d="M50 31.2657L58.7342 39.9998L50 48.734L51.6934 50.4274L62.121 39.9998L51.6934 29.5723L50 31.2657Z" fill="#4C00FF")
	.center-wrap
		.features__item.features__item--speeds
			.features__item-title
				span  High&nbsp;
				span  Quality&nbsp;
				span  Code&nbsp;
				span  Standard
			.features__speeds
				.features__speed
					.features__speed-round.features__speed-round--red
						span(data-number='42') 42
						svg(width="150" height="150" viewBox="0 0 150 150")
							circle.circle-bg(cx="75" cy="75" r="70")
							circle.circle-progress(cx="75" cy="75" r="70")
					.features__speed-title Perfomance
				.features__speed
					.features__speed-round.features__speed-round--yellow
						span(data-number='89') 89
						svg(width="150" height="150" viewBox="0 0 150 150")
							circle.circle-bg(cx="75" cy="75" r="70")
							circle.circle-progress(cx="75" cy="75" r="70")
					.features__speed-title Validation
				.features__speed
					.features__speed-round.features__speed-round--yellow
						span(data-number='78') 78
						svg(width="150" height="150" viewBox="0 0 150 150")
							circle.circle-bg(cx="75" cy="75" r="70")
							circle.circle-progress(cx="75" cy="75" r="70")
					.features__speed-title W3C Standards
				.features__speed
					.features__speed-round.features__speed-round--green
						span(data-number='91') 91
						svg(width="150" height="150" viewBox="0 0 150 150")
							circle.circle-bg(cx="75" cy="75" r="70")
							circle.circle-progress(cx="75" cy="75" r="70")
					.features__speed-title SEO
			.features__info
				.features__info-block
					.features__info-title Google Page Speed Insights score 100/100 
					//- .features__info-text.content
					//- 	.features__info-indend Read more
					//- 	p All your sites will achieve perfect code and optimization to highest score
				.features__info-block
					.features__info-title Fully valid and<br> cross-browser code
					//- .features__info-text.content
					//- 	.features__info-indend Read more
					//- 	p Your website looks differently in 100 cases! It’s depending on the browser (Chrome, Safari, Firefox, Edge), the OS (Windows, macOS, Linux, iOS, Android), and devices (mobiles, tablets, desktops).  4 browsers x 5 OS x 5 devices = 100 variations.
					//- 	p Validation ensures consistent display and avoids bugs.
		.features__item.features__item--phones
			.features__phones
				.features__info
					.features__info-block.features__info-block--wide
						.features__info-title 1:1 design match on any resolution.
						//- .features__info-text.content
						//- 	.features__info-indend Read more
						//- 	p Approximately 1600 devices with unique resolutions where the design may look different. Which one does your client use?
						//- 	p Our innovative approach ensures consistent display and prevents bugs.
				.features__phone.features__phone--one
					.features__phone-arrow
						div
					.features__phone-wrap1
						.features__phone-wrap2
							.features__phone-screen
							iframe(src="/project/screen.html", width="100%", height="100%", style="border:none;", allowfullscreen, loading="lazy")
				.features__phone.features__phone--two
					.features__phone-arrow
						div
					.features__phone-wrap1
						.features__phone-wrap2
							.features__phone-screen
							iframe(src="/project/screen-fz.html", width="100%", height="100%", style="border:none;", allowfullscreen, loading="lazy")
	.features__item.features__item--show-anim.features__item--anims
		.center-wrap
			.features__item-title
				.anim-line-wrap
					.anim-line Free Light Animations
				.anim-line-wrap
					.anim-line on each Project
		.features__animations
			iframe(src="/project/home.html", width="100%", height="100%", style="border:none;", allowfullscreen, loading="lazy")