footer.footer#footer
	.round
		.round__wrap1
			.round__wrap2
	.center-wrap
		.footer__wrap
			.footer__top
				.footer__left
					a(href="index.html#home").footer__logo.single-anchors.cursor-hover
						img(src='assets/images/svg/logo.svg')
					.footer__adress
						span Working Worldwide
						span Origin —  Ukraine, Kyiv 
				+email()
				ul.footer__nav.anchors
					li.footer__nav-item
						a(href="index.html#about").footer__nav-link.cursor-hover About
					li.footer__nav-item
						a(href="/services.html" data-anchors='false').footer__nav-link.cursor-hover Services
					li.footer__nav-item
						a(href="/portfolio.html" data-anchors='false').footer__nav-link.cursor-hover Portfolio
					li.footer__nav-item
						a(href="index.html#about").footer__nav-link.cursor-hover Contact
	include ../includes/cta

