header.header
  .center-wrap
    .header__wrap
      a(href="index.html#home").header__logo.single-anchors.cursor-hover.header-anim.header-anim--desktop.header-anim--mobile
        img(src='assets/images/svg/logo.svg')
      .header__times.header-anim--desktop.header-anim
        .header__times-item
          p Europe, CET
          span#time-est 1:07
        .header__times-item
          p Ukraine, Kyiv
          span#time-kyiv 3:07
      +btn({text:'Get Last 3 Job Prices',arrow: true,class:'header__btn header-anim--desktop header-anim', link:'/contact.html'})
      .header__burger.cursor-hover.header-anim.header-anim--desktop.header-anim--mobile
        span Menu
        .header__burger-wrap
          div
            div
            div
          div
            div
            div
          div