section.main-screen#home.at-block.main-screen--home
	.main-screen__shadow
	.main-screen__bg
	.center-wrap
		.main-screen__wrap
			.main-screen__video.img-wrap
				div
					span.main-screen__video-overlay.cursor-video
					span.main-screen__video-overlay2
					<iframe id="playerVideo" width="600px" height="auto" data-src="https://www.youtube.com/embed/lFrGDflcPJY?autoplay=1&mute=1&loop=1&playlist=lFrGDflcPJY&enablejsapi=1&start=20" title="Arty-Devs Showreel" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					//- video(autoplay loop muted playsinline)
						source(src="assets/images/video/showreel.mp4" type="video/mp4")

			.main-screen__bottom
				.main-screen__stack
					.main-screen__stack-item Wordpress
					.main-screen__stack-item Webflow

				h1.main-screen__title.at-element(data-at-name='atTitle' data-at-custom='true')
					span.main-screen__title-wrap
						span.anim-line-wrap
							span.letter W
							span.letter e
							span.letter &nbsp;C
							span.letter o
							span.letter v
							span.letter e
							span.letter r
							span.mobile--hide
								span.letter &nbsp;D
								span.letter e
								span.letter v
								span.letter e
								span.letter l
								span.letter o
								span.letter p
								span.letter m
								span.letter e
								span.letter n
								span.letter t
						span.anim-line-wrap.desktop--hide
								span.letter D
								span.letter e
								span.letter v
								span.letter e
								span.letter l
								span.letter o
								span.letter p
								span.letter m
								span.letter e
								span.letter n
								span.letter t
								span.letter &nbsp;f
								span.letter o
								span.letter r
						span.anim-line-wrap
							span.mobile--hide
								span.letter f
								span.letter o
								span.letter r&nbsp;
							span.main-screen__title-change
								span.main-screen__title-change-base Design Agencies
								span.main-screen__title-change-item.main-screen__title-change-item--active
									span.letter D
									span.letter e
									span.letter s
									span.letter i
									span.letter g
									span.letter n
									span.letter &nbsp;A
									span.letter g
									span.letter e
									span.letter n
									span.letter c
									span.letter i
									span.letter e
									span.letter s
								span.main-screen__title-change-item.main-screen__title-change-item--hide Brand Agencies
