.mobile-menu
  .mobile-menu__wrap.mobile-menu__wrap--left
    .mobile-menu__top 
      a(href="index.html#home").mobile-menu__logo.single-anchors.img-wrap
        img(src='assets/images/svg/logo.svg')
      .mobile-menu__close.cursor-hover
        .mobile-menu__close-text Close
        .mobile-menu__close-wrap
          div
          div
    nav.mobile-menu__nav
      ul.mobile-menu__nav-list.anchors
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="index.html#home").cursor-hover Home
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="/portfolio.html" data-anchors='false').cursor-hover Portfolio
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="/services.html" data-anchors='false').cursor-hover Services
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="index.html#about").cursor-hover About
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="index.html#about").cursor-hover Contact
    +email()
        span hello@atstudio1.com
    include ../includes/cta