section.process.at-block
	.center-wrap
		h2.process__title.simple-title Our Process
		.process__wrap
			.process__names.at-element(data-at-name='atItemsRow' data-at-selector='.process__name' data-at-rows='4')
				.process__name
					.process__name-number 01
					.process__name-title Research
					.process__name-numbs
						.process__name-numb 1
						.process__name-numb 2
						.process__name-numb 3
						.process__name-numb 4
						.process__name-numb 5
				.process__name
					.process__name-number 02
					.process__name-title UI/UX Design
					.process__name-numbs
						.process__name-numb 1
						.process__name-numb 2
						.process__name-numb 3
						.process__name-numb 4
						.process__name-numb 5
				.process__name
					.process__name-number 03
					.process__name-title Development
					.process__name-numbs
						.process__name-numb 1
						.process__name-numb 2
						.process__name-numb 3
						.process__name-numb 4
						.process__name-numb 5
				.process__name
					.process__name-number 04
					.process__name-title Delivery
					.process__name-numbs
						.process__name-numb 1
						.process__name-numb 2
						.process__name-numb 3
						.process__name-numb 4
						.process__name-numb 5
			.process__line
				.process__line-fill
			.process__flows.at-element(data-at-name='atItemsColumnSelf' data-at-selector='.process__btns .btn')
				.process__flow
					.process__btns
						+btn({class:'btn--link',text:" Define Goals",arrow:true,icon: 'number',numb:'1'})
						+btn({class:'btn--link',text:"UI/UX Research",arrow:true,icon: 'number',numb:'2'})
						+btn({class:'btn--link',text:"Visual Moodboard",arrow:true,icon: 'number',numb:'3'})
						+btn({class:'btn--link',text:"Website Brand Style",arrow:true,icon: 'number',numb:'4'})
						+btn({class:'btn--link',text:"Website Prototype",arrow:true,icon: 'number',numb:'5'})
						+btn({class:'btn--link',text:"2 blocks Design",arrow:true,icon: 'number',numb:'5'})
				.process__flow
					.process__btns
						+btn({class:'btn--link',text:"Homepage Design",arrow:true,icon: 'number',numb:'1'})
						+btn({class:'btn--link',text:"Full Desktop Design",arrow:true,icon: 'number',numb:'2'})
						+btn({class:'btn--link',text:"Mobile version",arrow:true,icon: 'number',numb:'3'})
						+btn({class:'btn--link',text:"Free Revisions",arrow:true,icon: 'number',numb:'4'})
				.process__flow
					.process__btns
						+btn({class:'btn--link',text:"Frontend Development",arrow:true,icon: 'number',numb:'1'})
						+btn({class:'btn--link',text:"Backend Development",arrow:true,icon: 'number',numb:'2'})
						+btn({class:'btn--link',text:"Speed Optimization",arrow:true,icon: 'number',numb:'3'})
						+btn({class:'btn--link',text:"basic SEO Optimiz.",arrow:true,icon: 'number',numb:'4'})
				.process__flow
					.process__btns
						+btn({class:'btn--link',text:"Transfer to your Hosting",arrow:true,icon: 'number',numb:'1'})
						+btn({class:'btn--link',text:"Support",arrow:true,icon: 'number',numb:'2'})
