section.products.at-block#services.whiteGsap
	.center-wrap
		h2.products__title.simple-title OUR STRANGES AND<br> COMPENTENCIES

		.products__list.cursor-products.at-element.toogles(data-at-name='atItemsColumnSelf' data-at-selector='.products__item')
			.products__item(data-image='8').toogles__item-title(data-toogles='8')
				.products__item-numb-wrap
					.products__item-numb 00
				h3.products__item-title Visual Branding
				.products__item-arrow
					svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#020715")
			.toogles__item(data-toogles='8')
					.toogles__item-content
						div
							.products__item-content
								.products__item-content-left
									.products__item-content-text Elevate your brand with our visual branding services. We create unique, cohesive visuals that resonate with your audience. From logo design to color schemes and typography, we ensure your brand stands out and communicates effectively across all platforms. Let's make your brand unforgettable.
									+btn({text:'Offer Page',arrow: true,class:'btn--blue',link:'/product.html'})
			.products__item(data-image='1').toogles__item-title(data-toogles='1')
				.products__item-numb-wrap
					.products__item-numb 01
				h3.products__item-title E-commerce Website
				.products__item-arrow
					svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#020715")
			.toogles__item(data-toogles='1')
					.toogles__item-content
						div
							.products__item-content
								.products__item-content-left
									.products__item-content-text We design and develop cutting-edge e-commerce solutions that help our clients boost sales and enhance user experiences. Our approach integrates advanced technology, customized design, and deep market insights to create unique and powerful online stores tailored to meet diverse business needs.
									+btn({text:'Offer Page',arrow: true,class:'btn--blue',link:'/product.html'})
								.products__item-content-right
									.products__item-content-title We can realize<br class='desktop--hide'> you project with:
									.products__item-content-stack
										span Wordpress
										span Woocommerce
										span Webflow
										span CustomDevelopment
										span No-Code Development
			.products__item(data-image='2').toogles__item-title(data-toogles='2')
				.products__item-numb-wrap
					.products__item-numb 02
				h3.products__item-title Fast or Cheap<br class='desktop--hide'> Website Solution
				.products__item-arrow
					svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#020715")
			.toogles__item(data-toogles='2')
					.toogles__item-content
						div
							.products__item-content
								.products__item-content-left
									.products__item-content-text Choose between fast or budget-friendly website solutions without compromising on quality. Our optimized development processes allow us to offer you speed and cost options that align with your business goals, while ensuring reliability and functionality.
									+btn({text:'Offer Page',arrow: true,class:'btn--blue',link:'/product.html'})
								.products__item-content-right
									.products__item-content-title We can realize<br class='desktop--hide'> you project with:
									.products__item-content-stack
										span Webflow
										span No-Code Development
										span Wordpress
			.products__item(data-image='3').toogles__item-title(data-toogles='3')
				.products__item-numb-wrap
					.products__item-numb 03
				h3.products__item-title Brilliant Company presentation
				.products__item-arrow
					svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#020715")
			.toogles__item(data-toogles='3')
					.toogles__item-content
						div
							.products__item-content
								.products__item-content-left
									.products__item-content-text Enhance your brand recognition with stunning company presentations crafted by our professionals. We use a creative approach and the latest technologies to produce presentations that effectively communicate your company's vision and values to stakeholders.
									+btn({text:'Offer Page',arrow: true,class:'btn--blue',link:'/product.html'})
								.products__item-content-right
									.products__item-content-title We can realize<br class='desktop--hide'> you project with:
									.products__item-content-stack
										span Wordpress
										span Webflow
										span CustomDevelopment
										span No-Code Development
			.products__item(data-image='4').toogles__item-title(data-toogles='4')
				.products__item-numb-wrap
					.products__item-numb 04
				h3.products__item-title High conversion<br class='desktop--hide'> website
				.products__item-arrow
					svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#020715")
			.toogles__item(data-toogles='4')
					.toogles__item-content
						div
							.products__item-content
								.products__item-content-left
									.products__item-content-text Optimize your online presence with a website designed for high conversion rates. We focus on user-friendly designs, strategic content placement, and robust technical frameworks to maximize visitor engagement and turn clicks into customers.
									+btn({text:'Offer Page',arrow: true,class:'btn--blue',link:'/product.html'})
								.products__item-content-right
									.products__item-content-title We can realize<br class='desktop--hide'> you project with:
									.products__item-content-stack
										span Wordpress
										span Webflow
										span CustomDevelopment
										span No-Code Development
			.products__item(data-image='5').toogles__item-title(data-toogles='5')
				.products__item-numb-wrap
					.products__item-numb 05
				h3.products__item-title Best Website<br class='desktop--hide'> in your niche
				.products__item-arrow
					svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#020715")
			.toogles__item(data-toogles='5')
					.toogles__item-content
						div
							.products__item-content
								.products__item-content-left
									.products__item-content-text Elevate your online presence with a website expertly tailored to dominate your niche. Our team specializes in identifying and integrating the unique elements that set you apart from the competition, ensuring your site not only meets but exceeds industry standards with innovative design and superior functionality.
									+btn({text:'Offer Page',arrow: true,class:'btn--blue',link:'/product.html'})
								.products__item-content-right
									.products__item-content-title We can realize<br class='desktop--hide'> you project with:
									.products__item-content-stack
										span Wordpress
										span Webflow
										span CustomDevelopment
										span No-Code Development
			.products__item(data-image='6').toogles__item-title(data-toogles='6')
				.products__item-numb-wrap
					.products__item-numb 06
				h3.products__item-title The Brand’s<br class='desktop--hide'> Signature Website
				.products__item-arrow
					svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#020715")
			.toogles__item(data-toogles='6')
					.toogles__item-content
						div
							.products__item-content
								.products__item-content-left
									.products__item-content-text Create a lasting impression with a signature website that encapsulates the essence of your brand. We focus on bespoke designs that reflect your brand’s identity, philosophy, and values, delivering a distinctive online presence that resonates with your target audience and strengthens brand loyalty.
									+btn({text:'Offer Page',arrow: true,class:'btn--blue',link:'/product.html'})
								.products__item-content-right
									.products__item-content-title We can realize<br class='desktop--hide'> you project with:
									.products__item-content-stack
										span Wordpress
										span Webflow
										span CustomDevelopment
										span No-Code Development
			.products__item(data-image='7').toogles__item-title(data-toogles='7')
				.products__item-numb-wrap
					.products__item-numb 07
				h3.products__item-title Your Custom <br class='desktop--hide'> Website Solution
				.products__item-arrow
					svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#020715")
			.toogles__item(data-toogles='7')
					.toogles__item-content
						div
							.products__item-content
								.products__item-content-left
									.products__item-content-text Your vision deserves a custom solution. Our bespoke website design services are tailored to meet your specific business requirements and goals. From initial concept to final implementation, we work closely with you to create a website that is not only visually appealing but also rich in functionality and perfectly aligned with your business strategy.
									+btn({text:'Offer Page',arrow: true,class:'btn--blue',link:'/product.html'})
								.products__item-content-right
									.products__item-content-title We can realize<br class='desktop--hide'> you project with:
									.products__item-content-stack
										span Wordpress
										span Webflow
										span CustomDevelopment
										span No-Code Development

