section.trips#trips.at-block
	.center-wrap
		.trips__list.at-element(data-at-name='atItemsRow' data-at-selector='.trip' data-at-rows='2' data-at-mobile-show='false')
			+trip({title:'Website Audit',text:"Let's take a look at how your website is performing. We'll use our 7+ years of experience to identify key points of growth and improvement.",id:'trip-audit'})
			+trip({class:"trip--blue",title:'Free Start',text:'You are very lucky if you see this limited offer. You can find out the final result free of charge, without any risks.',id:'trip-start'})