mixin form(params)
	.form(class=params.class)
		svg(width="203" height="23" viewBox="0 0 203 23" fill="none" xmlns="http://www.w3.org/2000/svg" class='form__arrow')
			path(d="M203 3.5L191.74 0.941384L195.154 11.9721L203 3.5ZM0.269622 7.9731C39.9596 17.3695 70.9488 22.4728 100.835 22.5628C130.732 22.6528 159.477 17.7259 194.687 7.11965L194.11 5.20465C159.034 15.7705 130.491 20.6521 100.841 20.5628C71.1796 20.4735 40.3627 15.4097 0.730378 6.0269L0.269622 7.9731Z" fill="#C8FF54")

		.form__title You will Get<br> Prices right Now<br> on your email
		form.form__inputs
			input(type='hidden' name='subject' value='Prices Right Now')
			.form__input-wrap
				input.form__input(required type='email' name='email' placeholder='Your E-mail')
			.form__input-wrap
				input.form__input(required type='text' name='name' placeholder='Your Name')
			input(type='submit' style='display:none;' id='form2')
			.select
				.select__value(data-default-value="Stack") 
					p Stack
				.select__variants.overflow-bl.select__variants--width
					label.radio__label
						input.radio__input(type='radio' name='stack' value='Wordpress')
						span.radio__content
							span.radio__content-dot
						span.radio__text Wordpress
					label.radio__label
						input.radio__input(type='radio' name='stack' value='Webflow')
						span.radio__content
							span.radio__content-dot
						span.radio__text Webflow
			label(for='form2')
				+btn({class:'btn--white',text:"GET PRICES", arrow:true,icon:"plane"})