extends ../layout/main

block variables
    - var title = 'Home page';
    - var contactTitle = 'We do more than we take. We don\'t sell – we offer free value.';
block content
    include ../includes/features
    include ../includes/contact