#scrollbar {
	@media screen and (max-width:$large_tablet) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: calc(var(--vh, 1vh) * 100);
		transition: height 0.5s, min-height 0.5s;
	}

	&[data-scrollbar] {
		height: calc(var(--vh, 1vh) * 100);
		transition: height 0.5s, min-height 0.5s;
		z-index: 1;
		overflow: hidden !important;

		&.scrollbar--footer {
			pointer-events: none;
		}
	}
}

.scroll-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}